name: Run code checks and quality tools

on: [workflow_call]

jobs:
  code-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Setup node with cache"
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run lint
        run: yarn lint
      - name: Run type-check
        run: yarn type-check
      - name: Run tests
        run: yarn test
      - name: Run prettier
        run: yarn prettier --check .
      - name: Build docs
        run: yarn docs:build
